@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    min-height: 100vh;
}

header{
    color: white;
    background-color: teal;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

footer{
    color: white;
    background-color: teal;
    padding: 20px;
}

aside{
    background-color: wheat;
    padding: 20px;
}

section{
    background-color: burlywood;
    padding: 20px;
    flex-grow: 1;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}