@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    min-height: 100vh;
}

header{
    color: white;
    background-color: teal;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

footer{
    color: white;
    background-color: teal;
    padding: 20px;
}

aside{
    background-color: wheat;
    padding: 20px;
}

section{
    background-color: burlywood;
    padding: 20px;
    flex-grow: 1;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

nav{
    margin-top: 10px;
    background-color: #bd9853;
    border: 1px solid white;
}

nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav > ul > li > a{
    display: block;
    padding: 10px 20px;
}

nav > ul > li > a:hover{
    background-color: burlywood;
}

.string {
margin-bottom: 10px;
display: flex;
}

.string > label {
flex-basis: 130px;
margin-bottom: 10px;
flex-shrink: 0;    
}

.string > input {
flex-basis: 200px;
margin-bottom: auto;
flex-grow: 1;   
}

.buttons {
justify-content: center;
}

input[type="reset"]{
    flex-grow: 0;
    flex-basis: auto;
}
.agreement {
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
    }

.reg-wrapper {
    width: 400px;
}

.string>select {
    width: 300px;
}